# Outputs
hypervisor_assault_*/

# Local targets
targets.txt

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Scan output
hypervisor_scan_*.txt

# Per-target temporary artifacts (created by hypervisor-assault.sh)
*_headers.txt
*_cert.txt
